@import "tailwindcss";

body {
  /* background-image: url("./assets/project-management-tools-illustration-20vwwkbworhkpzff.jpg"); */
  background-color: #202020;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
